:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

:host>label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.selection-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 14em;
  overflow-y: scroll;
}

.selection-list>*::slotted(*)::after {
  content: '';
  border-bottom: 1px solid var(--light-accent);
  width: calc(100% - 7em);
  display: block;
  margin: 0 auto;
}

#search {
  font-size: unset;
  font-family: var(--font-family);
  padding: 0 1.5em;
  margin-bottom: 1em;
  border-radius: 8px;
  border: 1px solid black;
  height: 4em;
}

#search:focus {
  outline: none;
  background-color: var(--background-mediumblue);
}

#search::placeholder {
  font-weight: 700;
}
