.action-button {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--default-border);
  border-radius: var(--default-border-radius);
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
  transition:
    background 0.1s,
    border 0.1s;
  font-weight: 700;
  padding: 0.5rem;
  background-color: #fff;
  appearance: none;
  color: #000000;
  outline: none;
  user-select: none;
}

.action-button:hover {
  background-color: var(--light-accent);
}

.action-button>.icon {
  display: flex;
  flex: 0 0 auto;
}

.action-button>.icon>svg {
  height: 2em;
  width: 2em;
}
