:host(day-list) {
  display: flex;
  max-width: 320px;
  height: 100%;
  align-self: stretch;
  flex-direction: column;
  border: 1px solid var(--light-accent);
}

@media screen and (max-width: 639px) {
  :host(day-list) {
    max-width: unset;
    width: 100%;
  }

}

.header {
  text-align: center;
  padding: .1em .5em;
  border-bottom: 1px solid var(--light-accent);
  font-weight: bold;
  background-color: var(--background-lightblue);
}
.body {
  padding: .5em .5em;
  flex: 1 1 0px;
}

.footer {
  padding: .1em .5em;
  border-top: 1px solid var(--light-accent);
  color: var(--light-text);
}

.footer:blank {
  display: none;
}

:host(.today) .body{
  background-color: var(--highlighted-color);
}

:host(.saturday) .header{
  background-color: var(--background-mediumblue);
}

:host(.sunday) .header{
  background-color: var(--background-mediumblue2);
}
