:host {
  display: flex;
}
::slotted(day-list) {
  flex: 1 1 0px;
  border: 1px solid var(--light-accent);
  border-right: none;
}
::slotted(day-list:last-of-type) {
  border-right: 1px solid var(--light-accent);
}
