div {
  border: 1px solid #000000;
  border-right: none;
  padding: 1em;
  width: 5%;
  height: calc(100% - 2em - 1px);
  background: var(--light-accent);
  background-image: radial-gradient(#000000 1px, #ffffff 0);
  background-size: 9px 11px;
  background-position: -1px 0px;
}
