div {
  border: 1px solid var(--light-accent);
  padding: 1em;
  width: 5%;
  height: 100%;
  background: var(--light-accent);
  background-image: radial-gradient(black 1px, var(--light-accent) 0);
  background-size: 10px 10px;
  background-position: -2px 0px;
}
