.cinema-selection-input {
  appearance: none;
  margin: 0;
}
.cinema-selection-input + label {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
  transition: background 0.1s, border 0.1s;
  white-space: nowrap;
  font-weight: 700;
  position: relative;
  overflow: hidden;
}
.cinema-selection-input + label:hover {
  background-color: var(--light-accent);
}

.border{
  background-color: var(--color);
  height: 100%;
  position: absolute;
  width: .666em;
}

.text, .icon {
  padding: 1em 0em;
}
.icon {
  margin-left: 1.3em;
  margin-right: 0.5em;
}

.icon, .icon > svg {
  height: 2em;
  width: 2em;
}
.cinema-selection-input:checked + label > .icon > svg {
  fill: var(--color);
}

.cinema-selection-input:checked + label {
  background-color: var(--background-mediumblue);
  font-weight: 700;
}

:host {
  flex: 1 1 49%;
}
