@import url(../../styles/action-button.css);

.checkable-button-input {
  appearance: none;
  display: none;
}

.checkable-button-input+label {
  height: 3em;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  justify-content: left;
  gap: 0.5em;
}

.checkable-button-input:checked+label {
  background-color: var(--background-mediumblue);
}

.checkable-button-input+label:hover {
  background-color: var(--light-accent);
}

.border {
  background-color: #000000;
  height: 100%;
  position: absolute;
  left: 0;
  width: 0.666em;
}

.icon {
  margin-left: .3em;
}

.icon,
.icon>svg {
  height: 2em;
  width: 2em;
}
