.cinema-icon-cross {
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}

.cinema-icon-star {
  clip-path: polygon(
    100% 50%,
    75.89% 68.81%,
    65.45% 97.55%,
    40.11% 80.43%,
    9.55% 79.39%,
    18% 50%,
    9.55% 20.61%,
    40.11% 19.57%,
    65.45% 2.45%,
    75.89% 31.19%
  );
}

.cinema-icon-triangle-up {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.cinema-icon-triangle-down {
  clip-path: polygon(50% 100%, 100% 0, 0 0);
}
.cinema-icon-rhombus {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}
.cinema-icon-hexagon {
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
}

.cinema-icon-circle {
  clip-path: ellipse(45% 45% at 50% 50%);
}

.cinema-icon-plus {
  clip-path: polygon(
    35% 0%,
    65% 0%,
    65% 35%,
    100% 35%,
    100% 60%,
    65% 60%,
    65% 100%,
    35% 100%,
    35% 60%,
    0% 60%,
    0% 35%,
    35% 35%
  );
}

.cinema-icon-square {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.cinema-icon-frame {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
}
