:root {
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: "InterVariable", sans-serif;
        font-optical-sizing: auto;
    }
}

@font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("resources/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("resources/InterVariable-Italic.woff2") format("woff2");
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Inter, 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
}

    a:visited {
        color: inherit;
    }

p {
    margin: 0.5em 0;
}

.content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 1em;
}

    .content h1, h2, h3, h4, h5, h6 {
        margin: 0.5em 0;
    }

summary {
    max-width: 300px;
}

#cinemaList {
    list-style-type: none;
}

    #cinemaList .list-group-item > span {
        height: 1em;
        width: 1em;
        display: inline-block;
        border-radius: 50%;
        margin-right: 0.5em;
    }

    #cinemaList .list-group-item > a {
        text-decoration: inherit;
    }
