@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("resources/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("resources/InterVariable-Italic.woff2") format("woff2");
}

:root {
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
    }
}

html {
    box-sizing: border-box;
    font-size: 12px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Inter, 'Open Sans', Helvetica, Arial, sans-serif;
}

a {
    color: inherit;
}

    a:visited {
        color: inherit;
    }

p {
    margin: 0.5em 0;
}

.content {
    max-width: 1800px;
    margin: 0 auto;
    padding: 1em;
}

details {
    max-width: 100%;
}

#cinemaList {
    list-style-type: none;
}

    #cinemaList .list-group-item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border: var(--fbc-borders);
        border-collapse: collapse;
    }

        #cinemaList .list-group-item > .dot {
            height: 1em;
            width: 1em;
            display: inline-block;
            border-radius: 50%;
            margin-right: 0.5rem;
            margin-top: 0.6rem;
            margin-left: 0.5rem;
        }

        #cinemaList .list-group-item > a {
            padding: 0.5em;
            text-decoration: none;
        }

            #cinemaList .list-group-item > a:hover {
                text-decoration: underline;
            }

        #cinemaList .list-group-item .cinemaName {
            flex-grow: 1;
        }

        #cinemaList .list-group-item:hover {
            background-color: var(--fc-list-event-hover-bg-color);
        }

            #cinemaList .list-group-item:hover a {
                color: var(--fc-primary-text);
                border-radius: 0.25em;
            }

.fc .fc-list-event-time, .fc-event-time {
    font-variant-numeric: tabular-nums;
}

.fc .fc-toolbar .fc-toolbar-title {
    font-size: 1.25em;
}

.fc .fc-daygrid-dot-event {
    align-items: start;
}

    .fc .fc-daygrid-dot-event .fc-daygrid-event-dot {
        margin-top: 0.35em;
    }

    .fc .fc-daygrid-dot-event .fc-event-title {
        text-overflow: ellipsis;
    }

.fc .fc-daygrid-event-harness {
    font-size: 1.1em;
    padding: 0.1em;
}

.icsModal .body {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    gap: 0.5em;
}

.icsModal .copyLinkInput {
    flex-grow: 1;
    border-color: var(--fc-button-hover-border-color);
    border-radius: 0.25em;
    font-size: 1em;
    padding: 1em 0.5em;
}

.icsModal .copyLinkButton {
    flex-grow: 1;
    padding: 1em 0.5em;
}

@keyframes buttonPulse {
    0% {
        background-color: var(--fc-button-bg-color);
    }

    50% {
        background-color: var(--fc-event-bg-color);
    }

    100% {
        background-color: var(--fc-button-bg-color);
    }
}

.icsModal .copyLinkButtonAnimate {
    animation-name: buttonPulse;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@media (max-width: 1000px) {
    .icsModal .body {
        flex-direction: column;
    }

    .icsModal .copyLinkButton {
        flex-grow: unset;
    }
}
