.cinema-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.cinema-selection  >  ::slotted(*){
  margin-bottom: 1em;
}

.cinema-selection,
.movie-selection,
.date-selection {
  margin-bottom: 1em;
}
h4 {
  margin-bottom: 0.5em;
  font-weight: 700;
  display: block;
  width: 100%;
}
