<div class="cinema-slection">
  <slot name="cinema-selection"></slot>
  <input class="cinema-selection-input" type="checkbox" name="cinema" id="cinema" />
  <label for="cinema">Cinema</label>

</div>
<div class="movie-selection">
  <slot name="movie-selection"></slot>
</div>
<div class="date-selection">
  <slot name="date-selection"></slot>
</div>
<!-- <button class="apply" name="apply-filter-button">Anwenden</button> -->

<!-- <template id="cinema-selection-template-input">
  <input type="checkbox" name="cinema-selection"/>
  <label for="cinema-selection"><slot></slot></label>
</template> -->
