@import url(../../styles/action-button.css);

.cinema-selection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1em;
}

.type-selection {
  display: grid;
  grid-template-columns: repeat(4, minmax(75px, 1fr));
  gap: 1em;
}

.rating-selection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 1em;
}

.cinema-selection,
.movie-selection,
.type-selection,
.rating-selection {
  margin-bottom: 1em;
}

.action-button#close-filter {
  height: 3em;
  width: 3em;
}

.action-button#apply-filter {
  width: 100%;
}

.action-button#apply-filter:hover {
  background-color: var(--background-lightgreen);
}

.action-button#close-filter:hover {
  background-color: var(--background-lightred);
  height: 3em;
  width: 3em;
}

#filter-dialog {
  border-radius: var(--default-border-radius);
  border: var(--default-border);
  box-shadow: var(--default-box-shadow);
}

#filter-header {
  display: flex;
  justify-content: space-between;
}

#filter-controls {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em;
}

#filter-dialog {
  width: clamp(320px, calc(100% - 3em - 2px), 660px);
}
