@import "scroll-snap-slider";

.scroll-snap-slider {
  overscroll-behavior-x: none;
  overscroll-behavior-y: auto;
}

.scroll-snap-slide {
  height: fit-content;
  scroll-snap-stop: always;
  width: auto;
}

@media screen and (min-width: 640px) {
  .scroll-snap-slide {
    height: auto;
  }
}

day-list.scroll-snap-slide {
  width: var(--slide-width);
}

empty-day.scroll-snap-slide {
  display: none;
}

day-list.scroll-snap-slide:last-of-type {
  scroll-snap-align: end;
  margin-right: calc(var(--slide-width) / 2);
}

@media screen and (min-width: 640px) {
  day-list.scroll-snap-slide {
    max-width: var(--slide-width);
  }

  empty-day.scroll-snap-slide {
    display: initial;
  }
}

.-dragging {
  cursor: grabbing;
}

button {
  appearance: none;
  position: fixed;
  top: 50%;
  border: none;
  background: none;
  z-index: 10;
  height: fit-content;
  color: #000000;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover > svg {
  filter: drop-shadow(0px 0px 5px #000);
}

#swipe-left {
  left: 0;
}

#swipe-right {
  right: 0;
}

.loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  display: none;
}

.loader__text {
  margin: 5px auto;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
}
.loader__filmstrip {
  position: relative;
  width: 56px;
  height: 70px;
  background: #000;
  z-index: -1;
}
.loader__filmstrip:before,
.loader__filmstrip:after {
  content: "";
  position: absolute;
  height: 120%;
  border-left: 5px dashed white;

  animation: roll 20ms infinite;
}
.loader__filmstrip:before {
  left: 5px;
}
.loader__filmstrip:after {
  right: 5px;
}
@keyframes roll {
  0% {
    top: 0px;
  }
  100% {
    top: -15px;
  }
}
