@import 'scroll-snap-slider';

:host {
  --loader-size: 8px;
  --loader-color: #000;
}

#swiper-wrapper {
  position: relative;
  min-height: 320px;
}

.scroll-snap-slider {
  overscroll-behavior-x: none;
  overscroll-behavior-y: auto;
}
.scroll-snap-slider.disabled {
  pointer-events: none;
  filter: grayscale(1) opacity(0.5);
}

.scroll-snap-slide {
  height: fit-content;
  scroll-snap-stop: always;
  width: auto;
}

@media screen and (min-width: 640px) {
  .scroll-snap-slide {
    height: auto;
  }
}

day-list.scroll-snap-slide {
  width: var(--slide-width);
}

empty-day.scroll-snap-slide {
  display: none;
}

day-list.scroll-snap-slide:last-of-type {
  scroll-snap-align: end;
  margin-right: calc(var(--slide-width) / 2);
}

@media screen and (min-width: 640px) {
  day-list.scroll-snap-slide {
    max-width: var(--slide-width);
  }

  empty-day.scroll-snap-slide {
    display: initial;
  }
}

.-dragging {
  cursor: grabbing;
}

button {
  appearance: none;
  position: fixed;
  top: 50%;
  border: none;
  background: none;
  z-index: 10;
  height: fit-content;
  color: #000000;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button > svg {
  filter: drop-shadow(0px 0px 5px #000);
  background: #0000001a;
  border-radius: 100%;
}

#swipe-left {
  left: 0;
}

#swipe-right {
  right: 0;
}
.film-strip {
  width: calc(20 * var(--loader-size));
  background: conic-gradient(
      at 50% var(--loader-size),
      var(--loader-color) 75%,
      #0000 0
    )
    0 0 / calc(2 * var(--loader-size)) calc(100% - var(--loader-size))
    padding-box;
  border: var(--loader-size) solid var(--loader-color);
  padding: calc(var(--loader-size) * 2.5) calc(var(--loader-size) * 1.5);
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  animation: film-motion 0.25s linear infinite;
  box-shadow: 0px 0px var(--loader-size) calc(var(--loader-size) / 2)
    var(--loader-color);
}
@keyframes film-motion {
  100% {
    background-position-x: 0;
  }
  0% {
    background-position-x: calc(2 * var(--loader-size));
  }
}
.film-strip img {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 3px;
}
.loading {
  background-color: #fff;
  position: absolute;
  top: max(10%, 7em);
  left: calc(50% - 100px);
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 200px;
}
.loading .text {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.5em 0 0 0;
}
.loading.hidden {
  display: none;
}
