@import 'scroll-snap-slider';

:host {
  --loader-size: 8px;
  --loader-color: #000;
}

#swiper-wrapper {
  position: relative;
  min-height: 320px;
}

.scroll-snap-slider {
  overscroll-behavior-x: none;
  overscroll-behavior-y: auto;
}
.scroll-snap-slider.disabled {
  pointer-events: none;
  filter: grayscale(1) opacity(0.5);
}

.scroll-snap-slide {
  height: fit-content;
  scroll-snap-stop: always;
  width: auto;
}

@media screen and (min-width: 640px) {
  .scroll-snap-slide {
    height: auto;
  }
}

day-list.scroll-snap-slide {
  width: var(--slide-width);
}

empty-day.scroll-snap-slide {
  display: none;
}

day-list.scroll-snap-slide:last-of-type {
  scroll-snap-align: end;
  margin-right: calc(var(--slide-width) / 2);
}

@media screen and (min-width: 640px) {
  day-list.scroll-snap-slide {
    max-width: var(--slide-width);
  }

  empty-day.scroll-snap-slide {
    display: initial;
  }
}

.-dragging {
  cursor: grabbing;
}

button {
  appearance: none;
  position: fixed;
  top: 50%;
  border: none;
  background: none;
  z-index: 10;
  height: fit-content;
  color: #000000;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button > svg {
  filter: drop-shadow(0px 0px 5px #000);
  background: #0000001a;
  border-radius: 100%;
}

#swipe-left {
  left: 0;
}

#swipe-right {
  right: 0;
}
